<section id="header">
  <div class="photo-circle"></div>

  <div class="podpis"></div>
</section>

<section id="upper-text-area">
  <div class="text photo">фотография</div>
  <div class="text life">жизнь</div>
  <div class="text brighter">ярче</div>
</section>

<section id="photo-album">
  <div class="content">

    <div id="photo-gallery" style="display:none;">
      <img alt="" src="images_lib/min/pic.min-1.jpg"
           data-image="images_lib/big/pic.big-1.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-2.jpg"
           data-image="images_lib/big/pic.big-2.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-3.jpg"
           data-image="images_lib/big/pic.big-3.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-4.jpg"
           data-image="images_lib/big/pic.big-4.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-5.jpg"
           data-image="images_lib/big/pic.big-5.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-6.jpg"
           data-image="images_lib/big/pic.big-6.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-7.jpg"
           data-image="images_lib/big/pic.big-7.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-8.jpg"
           data-image="images_lib/big/pic.big-8.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-9.jpg"
           data-image="images_lib/big/pic.big-9.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-10.jpg"
           data-image="images_lib/big/pic.big-10.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-11.jpg"
           data-image="images_lib/big/pic.big-11.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-12.jpg"
           data-image="images_lib/big/pic.big-12.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-13.jpg"
           data-image="images_lib/big/pic.big-13.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-14.jpg"
           data-image="images_lib/big/pic.big-14.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-15.jpg"
           data-image="images_lib/big/pic.big-15.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-16.jpg"
           data-image="images_lib/big/pic.big-16.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-17.jpg"
           data-image="images_lib/big/pic.big-17.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-18.jpg"
           data-image="images_lib/big/pic.big-18.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-19.jpg"
           data-image="images_lib/big/pic.big-19.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-20.jpg"
           data-image="images_lib/big/pic.big-20.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-21.jpg"
           data-image="images_lib/big/pic.big-21.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-22.jpg"
           data-image="images_lib/big/pic.big-22.jpg"
           data-description="Image 1 Description"/>
      <img alt="" src="images_lib/min/pic.min-23.jpg"
           data-image="images_lib/big/pic.big-23.jpg"
           data-description="Image 1 Description"/>
    </div>

  </div>
</section>
